/* Sidebar container styling */
.container {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items along the cross axis */
  flex-direction: column; /* Arrange items in a column */
  background-color: rgb(247, 243, 196); /* Set background color */
  width: var(--sidebar-width-closed); /* Closed width of the sidebar */
  height: 100vh; /* Full viewport height */
  position: fixed; /* Fixed position */
  top: 0; /* Align to the top */
  left: auto;
  right: 0;
  z-index: 1000; /* Ensure the sidebar is on top */
  transition: width 0.3s ease; /* Smooth transition for width change */
  overflow-wrap: break-word; /* שובר מילים ארוכות לשורות חדשות */
  word-break: break-word; /* שובר מילים ארוכות לשורות חדשות במקרה הצורך */
}

/* Expand the sidebar on hover or when the sidebar is open */
.container:hover,
body.sidebar-open .container {
  width: var(--sidebar-width-open);

  /* width: var(--sidebar-width-open);  */
}

/* Scale the logo on hover or when the sidebar is open */
.container:hover img.logo-sidebar,
body.sidebar-open .container img.logo-sidebar {
  transform: scale(1.6); /* Scale the logo */
}

/* Logo styling */
img.logo-sidebar {
  width: 50px; /* Set the width of the logo */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

/* Logo container styling */
.logo-div {
  margin: 20px; /* Margin around the logo */
}

img.logo-sidebar:hover {
  filter: brightness(1.2) contrast(1.2) saturate(1.5)
    drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.3));
}

/* Navigation links list styling */
.link-list {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items along the cross axis */
  margin-top: 20px; /* Top margin */
}

/* Individual list item styling */
.list-item {
  width: 100%; /* Full width */
}

/* Link styling */
.link {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Center items along the cross axis */
  justify-content: center; /* Center items along the main axis */
  color: rgb(133, 49, 252); /* Set text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition for color change */
  height: 100%; /* Full height */
  position: relative; /* Position relative for absolute positioning inside */
}

/* Change color on hover */
.link:hover {
  color: rgb(17, 0, 86); /* New color on hover */
  transition: color 0.3s ease; /* Smooth transition for color change */
  /* border-bottom: 5px solid rgb(133, 49, 252); */
  /* border-top: 5px solid rgb(133, 49, 252); */
  /* border-radius: 5px 5px 5px; */
}

/* .link:hover .link-text {
  text-decoration: underline;
  text-decoration-color: rgb(17, 0, 86);
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
} */

/* .link.current {
  background-color: rgb(133, 49, 252);
  color: white;
  border-radius: 5px;
  padding: calc(--sidebar-width-open);
} */

.link.current .link-icon {
  background-color: #0fc4bf;
  border-radius: 25%;
  padding: 5px;
}

.link:hover .link-icon img {
  filter: brightness(1.2) contrast(1.2) saturate(1.5)
    drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.3));
}

.link.current .link-icon img {
  filter: brightness(1.2) contrast(1.2) saturate(1.5)
    drop-shadow(5px 5px 0 rgba(0, 0, 0, 0.3));
}

/* Icon styling inside the link */
.link-icon {
  margin-bottom: 45px; /* Bottom margin */
}

/* Text styling inside the link */
.link-text {
  opacity: 0; /* Initially hidden */
  transform: translateY(-10px); /* Initially translated up */
  white-space: nowrap; /* Prevent text wrap */
  font-size: 18px; /* Font size */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition for appearance */
  height: 0; /* Initial height */
  overflow: hidden; /* Hide overflow content */
  /* margin-top: 5px; 
  padding-top: 50px; */
  position: absolute; /* Absolute positioning */
  bottom: 35px; /* Position below the icon */
}

/* Show text on hover or when the sidebar is open */
.container:hover .link-text,
body.sidebar-open .link-text {
  opacity: 1; /* Fully visible */
  transform: translateY(0); /* No translation */
  height: auto; /* Auto height */
  overflow: visible; /* Show overflow content */
}

/* Additional styling for list items */
.list-item {
  display: flex; /* Use flexbox layout */
  align-items: center; /* Center items along the cross axis */
  flex-direction: column; /* Arrange items in a column */
  height: 100%; /* Full height */
}

/* Additional styling for the link list */
.link-list {
  flex: 1; /* Take remaining space */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items in a column */
  justify-content: space-around; /* Space items evenly */
  align-items: center; /* Center items along the cross axis */
  margin: 15px; /* Margin around */
  height: 100%; /* Full height */
}
