.dashboard-container {
  position: fixed;
  top: 0;
  right: var(--sidebar-width-closed);
  bottom: 0;
  width: calc(100% - var(--sidebar-width-closed));
  height: 100%;
  transition: right 0.3s ease-in-out, width 0.3s ease-in-out;
  overflow: hidden;
}

.dashboard {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  transition: width 0.3s ease-in-out;
  /* position: absolute;
  left: -9999px; */
}

body.sidebar-open .dashboard-container {
  right: var(--sidebar-width-open);
  width: calc(100% - var(--sidebar-width-open));
}

.dashboard-div {
  transition: width 0.3s ease-in-out;
}
