.data-preview {
    background-color: var(--light-bg-color);
    border: 1px solid var(--table-border);
    border-collapse: collapse;

    font-size: .7rem;
}

th,
td {
    border: 1px solid var(--table-border);
    padding: 5px;
}