.survey-data-section {
    width: 100%;
}

.survey-data-status {
    display: flex;
    gap: .5em;
    margin-block-start: .5em;

    align-items: center;
    color: var(--color-green);
}

.upload-indicator {
    display: flex;
    gap: 1em;
    align-items: center;
}

.data-input {
    display: flex;
    align-items: center;
    gap: 1em;
}